body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0 0 20px;
    font-size: 3em;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#locationInput {
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#searchButton {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
}

#searchButton:hover {
    transform: scale(1.1);
    background-color: #45a049;
}

.weather {
    display: none;
    margin-top: 20px;
}

.weather-info {
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.weather-info h2 {
    margin: 0 0 10px;
}

.weather-icon {
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 0 auto 10px;
}

.description, .temp, .humidity, .wind {
    margin: 10px 0;
}
